<div class="absolute overflow-hidden inset-0 p-4 pb-0 bottom-16">
  <div class="flex flex-col mb-4 overflow-y-auto scrollbar-hide">
    <!-- <div class="flex flex-row p-4 justify-between bg-tertiary border-b border-borderline rounded-t-lg z-10">
      <div>
        <h2 class="text-darker text-2xl font-bold">Einfache Tabelle</h2>
        <p class="text-sm text-dark">Dies ist eine einfach Tabelle. Sie enthält keine Nummerierung (showCount), keine Checks (showCheckbox), keine Optionen der einzelnen Zeilen (add actions), ist werder Erweiterbar (isExtendable), noch sind die Daten vorsortiert. Es wurden in dieser Tabelle nur die wirklich benötigten Parameter genutzt um eine Tabelle zu erstellen.</p>
      </div>
    </div>

    <div class="relative flex-auto w-full overflow-y-auto scrollbar-hide">
      @defer (when isVisible; prefetch on timer(1000ms)) {
        <div class="bg-tertiary">
          <dynamic-table [tableoptions]="easytable" [data$]="easydata$"></dynamic-table>
        </div>
      }
      @placeholder (minimum 100ms) {
        <div class="flex w-full p-2 bg-tertiary justify-center" *ngIf="isSpinnerVisible">
          <circular-spinner></circular-spinner>
        </div>
      }
      @loading (after 100ms; minimum 150ms) {
        <div class="h-4 bg-tertiary">Loading</div>
      }
      @error {
        <div class="h-4 bg-tertiary">Error</div>
      }
      <div class="debug-item-hide bg-tertiary text-dark text-xs border-t border-borderline">
        <pre class="p-2 bg-gradient-45 to-gray-600">{{ (easydata$ | async) | json }}</pre>
      </div>
      <div class="h-2 bg-tertiary rounded-b-lg"></div>
    </div>
  </div> -->

  <div class="flex flex-col overflow-y-auto scrollbar-hide">
    <div class="flex flex-row p-4 justify-between bg-tertiary border-b border-borderline rounded-t-lg z-10">
      <div>
        <h2 class="text-darker text-2xl font-bold">Tabelle</h2>
        <p class="text-sm text-dark">Dies ist die Beschreibung zu dieser Tabelle.</p>
      </div>
      <div>
        <button class="w-10 h-10 m-2 p-1 bg-secondary text-accent shadow-inner rounded-full cursor-pointer hover:bg-primary duration-200" [matMenuTriggerFor]="menu">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><rect x="4" y="4" width="16" height="16" rx="2" /><line x1="4" y1="10" x2="20" y2="10" /><line x1="10" y1="4" x2="10" y2="20" /></svg>
        </button>

        <mat-menu #menu="matMenu">
            <button mat-menu-item class="!flex items-center" (click)="refreshTable()">
              <div class="flex flex-row">
                <div class=" h-6 w-6 fill-dark">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15" /></svg>
                </div>
                <span class="ml-4">Refresh</span>
              </div>
            </button>
            <button mat-menu-item class="!flex items-center">
              <div class="flex flex-row">
                <div class=" h-6 w-6 fill-dark">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15" /></svg>
                </div>
                <span class="ml-4">Reload</span>
              </div>
            </button>
        </mat-menu>
      </div>
    </div>

    <div class="relative flex-auto w-full overflow-y-auto scrollbar-hide">
      @defer (when isVisible; prefetch on timer(1000ms)) {
        <div class="bg-tertiary">
          <dynamic-table [tableoptions]="tableoptions" [data$]="data$" [pageSize]="4" (action)="returnTableAction($event)" [isEditableInTable]="true"></dynamic-table>
        </div>
      }
      @placeholder (minimum 100ms) {
        <div class="flex w-full p-2 bg-tertiary justify-center" *ngIf="isSpinnerVisible">
          <circular-spinner></circular-spinner>
        </div>
      }
      @loading (after 100ms; minimum 150ms) {
        <div class="h-4 bg-tertiary">Loading</div>
      }
      @error {
        <div class="h-4 bg-tertiary">Error</div>
      }
      <!-- <div class="debug-item-hide bg-tertiary text-dark text-xs border-t border-borderline">
        <pre class="p-2 bg-gradient-45 to-gray-600">{{ (data$ | async) | json }}</pre>
      </div> -->
      <div class="h-2 bg-tertiary rounded-b-lg"></div>
    </div>
  </div>
</div>

<ng-template #expandtemplate let-object="object">
    <div class="nxt_input flex flex-col w-full">
      <label class="nxt_input_label my-2 text-sm leading-none">Beschreibung</label>
      <div class="flex flex-row">
        <div class="nxt_input_area flex flex-row w-full my-2 border border-borderline rounded">
          <div class="relative h-20 w-full">
              <textarea [id]="'expandtemplate' + object.key" class="absolute inset-0 pt-3 px-3 bg-transparent text-sm font-medium leading-none rounded scrollbar-hide" cols="30" rows="3" [value]="object.description"></textarea>
          </div>
        </div>
          <button class="h-20 w-12 my-2 p-2 border border-accent text-accent rounded">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" /></svg>
          </button>
      </div>
  </div>
</ng-template>